
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #121212;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #1E1E1E;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    transition: color 0.3s;
}

header a:hover {
    color: #39FF14;
}

.section {
    padding: 4em 2em;
    max-width: 1200px;
    margin: auto;
}

.about {
    text-align: center;
}

.projects-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.projects-grid {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.project-card {
    background: #1E1E1E;
    padding: 1.5em;
    border: 2px solid #39FF14;
    border-radius: 8px;
    transition: transform 0.3s;
    width: 300px;
}

.project-card:hover {
    transform: translateY(-10px);
}

.school-history {
    text-align: center;
}

.school-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 2em auto;
    max-width: 600px;
}

.school-box {
    border: 2px solid #FFFFFF;
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background: #1E1E1E;
    color: #FFFFFF;
    border-radius: 8px;
}

.school-box:hover {
    /* Add hover effect  - make the border green*/
    border-color: #39FF14;
}

@media (min-width: 768px) {
    .school-grid {
        grid-template-columns: 1fr 1fr;
    }

    .school-grid > .school-box:first-child {
        grid-column: span 2;
    }
}

.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #1E1E1E;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #39FF14;
    background: #121212;
    color: #FFFFFF;
    border-radius: 4px;
}

.contact-form button {
    padding: 1em 2em;
    border: none;
    background: #39FF14;
    color: #121212;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #2ECC71;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #1E1E1E;
    margin-top: 2em;
}

footer a {
    color: #39FF14;
}
